# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
/.idea/workspace.xml
/.idea/vcs.xml
./prototype_style_bourbon/.idea
./prototype_style_bourbon/.idea/workspace.xml
./prototype_style_bourbon/.idea/vcs.xml
.idea
.idea/workspace.xml
prototype_style_bourbon/.idea/workspace.xml
.idea/vcs.xml
prototype_style_bourbon/.idea
prototype_style_bourbon/.idea/workspace.xml
prototype_style_bourbon/.idea/vcs.xml

.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
yarn-error.log

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

#testfiles
/examples
/testing

prototype_style_bourbon/assets/img/fruehling/*
prototype_style_bourbon/assets/img/herbst/*
prototype_style_bourbon/assets/img/sommer/*
prototype_style_bourbon/assets/img/winter/*
prototype_style_bourbon/assets/img/startplaetze/*


flightjournal-react/src/server/ApiKeys.js






