//fontfamily
$font-family-primary: 'Montserrat', Arial, Helvetica, sans-serif;
$font-family-secundary: 'Lora', Times, serif;


//font-weight
$font-regular: 400;
$font-bold: 600;
$font-ultra-bold: 700;

//font-sizes
$font-s-h1: rem-calc(60px);

$font-s-h2: rem-calc(55px);
$font-s-h2-xs: rem-calc(37px);

$font-s-h3: rem-calc(25px);
$font-s-h3-filter: rem-calc(30px);
$font-s-h4: rem-calc(18px);

$font-s-page-title: rem-calc(18px);

$font-s-lead: rem-calc(45px);

$font-s-copytext: rem-calc(16px);
$font-s-copytext-l: rem-calc(18px);


$font-s-table: rem-calc(18px);
$font-s-table-small: rem-calc(16px);

$font-s-anchor: rem-calc(18px);
$font-s-anchor-small: rem-calc(16px);

$font-s-link: rem-calc(15px);

$font-s-main-nav: rem-calc(18px);
$font-s-main-nav-small: rem-calc(16px);

$font-s-logo: rem-calc(20px);

$font-s-button-wb: rem-calc(22px);
$font-s-button: rem-calc(20px);

$font-s-dropdown-item: rem-calc(16px);

$font-s-image-box-text: rem-calc(25px);

$font-s-prev-next: rem-calc(14px);

$font-s-button: rem-calc(18px);

$font-s-icon: rem-calc(18px);





