.anchor,
.anchor:active,
.anchor:visited{
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: $font-s-anchor;
  line-height: 2.3rem;

  @include bp(max, $screen-m) {
    font-size: $font-s-anchor-small;
  }


  &::after {
    @extend .help-underline-green;
  }

  &:hover,
  &:focus {
    color: $color-primary;
    &::after {
      @extend .help-underline-green-hover;
    } 
  }
}

.anchor-small{
  font-size: $font-s-anchor-small;
  cursor: pointer;

  .fas{
    padding-right: 5px;
  }

  + .main-title{
    margin-top: 20px;
  }
}

.anchor--green,
.anchor-small.anchor--green{
  color: $color-primary;

  &:active,
  &:hover,
  &:focus{
    color: $color-black;
  }
}