.article-item{
  margin-top: rem-calc(50px);
  padding: 10px;

  &__icon-wrapper{
    margin-top:rem-calc(25px);
    display: flex;
  }
  &__icon{
    margin-right: 10px;
  }
  &.active{
    background-color: $color-primary-06;
  }
}