.button{
  min-width: rem-calc(200px);
  width: 46%;
  font-size: $font-s-button;
  background-color: $color-primary;
  color: $color-white;
  border: 1px solid $color-primary;
  padding: rem-calc(15px);
  transition: all 0.3s ease-in-out 0s;
  margin-top: rem-calc(50px);

  &-wrapper{
    @include grid-column(24, $grid-24);
    display: flex;
    justify-content: space-between;
    align-items:center;
    font-family: $font-family-primary;

    &__text{
      width: 100%;
      text-align: center;
    }

    &--top{
      margin-top: rem-calc(50px);
    }

    &__row{
      flex-direction: row;
      @include bp(max, $ipad-ls) {
        flex-direction: column;
        margin: 0;
       }

      .button{
        margin-left: rem-calc(15px);
        margin-right: rem-calc(15px);

        @include bp(max, $ipad-ls) {
          margin-left: 0;
          margin-right: 0;
         }

         &:nth-child(2){
          @include bp(max, $ipad-ls) {
            margin-top: rem-calc(20px);
           }
         }
      }
    }
    @include bp(max, $ipad-p) {
      flex-direction: column;
     }
  }

  &-group{
    clear:both;
    padding-top: rem-calc(60px);
    .button-wrapper{
      margin-top: rem-calc(20px);

      .button{
        margin-top: 0;
        min-width: rem-calc(250px);
      &:not(:first-of-type){
        @include bp(max, $ipad-p) {
          margin-top: rem-calc(20px);
         }
        }
      }
    }
  }

  &-without-border,
  &.button-without-border{
    font-size: $font-s-button-wb;
    color: $color-primary;
    text-align: center;
    margin:auto;
    border: none;
    background: none;
    font-family: $font-family-primary;
    
    &:hover,
    &:focus{
      color: $color-black;
    }

    &--left{
      text-align: left;
      margin: 0;
    }

    &--small{
      font-size: rem-calc(18px);
    }

    &--with-icon{
      padding-left: 32px;
    }
  }

  &:hover,
  &:focus{ 
    box-shadow: 10px 10px $color-yellow;
    transition: all 0.3s ease-in-out 0s;
  }

  &--large{
    width: 100%;
  }

  &--large-white{
    color: $color-black;
    background-color: $color-white;
    width: 100%;
  }

  &--single{
    margin-left: auto;
    margin-right: auto;
  }

  @include bp(max, $ipad-p) {
    width: 100%;
   }
}

a.button-without-border{
  color: $color-primary;
  &:hover,
  &:focus{
    color: $color-black;
  }
}