.details{
  margin-top: rem-calc(50px);

  &__columns{
    column-count: 2;
    column-gap: 40px;
  }

  &__item{
    margin-bottom: rem-calc(20px);
    break-inside: avoid-column;
  }

  &__titel{
    font-weight: $font-bold;
  }

  &__txt{
    font-family: $font-family-secundary;
  }

  &__titel-anchors{
    font-family: $font-family-primary;
    font-weight: $font-bold;
    margin-top: rem-calc(40px);
  }
  &__txt-anchors{
    font-family: $font-family-secundary;
    margin-bottom: rem-calc(10px);
  }

  &__txt-long{
    font-size: $font-s-copytext-l;
    line-height: 150%;
  }

  &--1column-small{
    border-right: 1px solid $color-gray-light;
    margin-top: rem-calc(0);
    padding-right: 7%;
    @include grid-column(4, $grid-12);

    @include bp(max, $ipad-p){
      padding-right: 0;
      border-right: none;
      column-count: 2;
      margin-bottom: rem-calc(20px);
      @include grid-column(12, $grid-12);
      @include grid-push(0, $grid-12);
    }
  }

  &--1column-large{ 
    margin-top: rem-calc(0);
    @include grid-column(7, $grid-12);
    @include grid-push(1, $grid-12);
    @include bp(max, $ipad-p){
      @include grid-column(12, $grid-12);
      @include grid-push(0, $grid-12);
    }
  }

  a{
    display: block;
  }
}

.title-h2 + .details,
.title-h3 + .details,
.title-h4 + .details{
  margin-top: 0;
}

.details + .title-h2,
.details + .title-h3,
.details + .title-h4{
  margin-top: rem-calc(50px);
}

.detail-layout--no-images{
  .details{
    @include grid-column(11, $grid-24);

    &:not(:first-of-type){
      @include grid-push(1, $grid-24);

      @include bp(max, $ipad-p){
        @include grid-push(0, $grid-24);
      }
    }

    @include bp(max, $ipad-p){
      @include grid-column(22, $grid-24);
    }
  }
  .details:first-of-type{
    border-right: 1px solid $color-gray-light;
    @include bp(max, $ipad-p){
      border-right: none;
    }
  }
}