.filter{
  font-size: $font-s-anchor;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  margin-bottom: rem-calc(50px);

  @include bp(max, $ipad-p) {
    display: block;
    height: 100px;
  }

  &__title{
    @include grid-column(22, $grid-24);
    @include grid-push(1, $grid-24);
    font-size: $font-s-h3-filter;
    font-weight: 300;
    margin-bottom: 20px;
  }

  &__list{
    display:flex;
    @include grid-column(22, $grid-24);
    @include grid-push(1, $grid-24);
    justify-content: center;
    flex-wrap: wrap;

    li,
    button{
      margin-right: 2.5%;
      padding-bottom: 10px;
      cursor: pointer;
    }
    button{
      background: transparent;
    }
    a,
    button{
      &.filter__list-item{
        color: $color-primary;
        z-index:10;

        &::after {
          @extend .help-underline-yellow;
        }

        &:hover,
        &.active{
          color: $color-black;
          transition: color .5s ease 0s;

          &::after {
            @extend .help-underline-yellow-hover;
          }
        }
      }
    }

    + .filter__list-dropdown{
      margin-top: 20px;
    }
  }

  &__list-dropdown{
    @include grid-column(22, $grid-24);
    @include grid-push(1, $grid-24);
    display: flex;
    justify-content: center;

    @include bp(max, $ipad-p) {
      margin-bottom: rem-calc(50px);
    }
    @include bp(max, $phone) {
      justify-content: space-between;
    }
  }

  &__dropdown-item{
    min-width: rem-calc(155px);
    margin-right: 5%;
    text-align: center;
    transition: .8s ease height;
    border:none;
    background-color: $color-white;
    padding: 0;
    white-space: nowrap;

    cursor: pointer;

    i{
      padding-left: 5px;
      color: $color-primary;
    }

    &.filter__dropdown-item--active{
      color: $color-primary;
      .filter__sub-dropdown{
        visibility: visible;
        display: block;
        opacity: 1;
        transition: .8s ease opacity;
      }
    }
    @include bp(max, $phone) {
      margin-right: 0%;
      min-width: rem-calc(50px);
    }
  }

  &__sub-dropdown{
    visibility: hidden;
    position: absolute;
    padding: 12px 0;
    z-index: 1;
    opacity: 0;
    transition: .8s ease opacity;
    text-align: center;
    width: rem-calc(155px);
    margin-left: -5px;
    z-index: 100;
  }

  &__sub-dropdown-item{
    font-weight: $font-regular;
    width:rem-calc(150px);
    display:block;
    position:relative;
    margin-left:rem-calc(0);
    padding: 8px 5px;
    background-color: $color-primary-10;
    border-bottom: 1px solid $color-white;
    transition: .8s ease background-color;
    font-size: $font-s-dropdown-item;
    color: $color-black;

    &:hover,
    &:focus{
      background-color: $color-primary-50;
      transition: .8s ease background-color;
      color: $color-black;
    }
  }
}

.filter-search{
  &__search{
    margin: 0 auto rem-calc(65px) auto;
    border: 1.5px solid $color-black;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    width: 32.4%;
    @include bp(max, $ipad-p) {
      width: 80%;
    }
  }
  &__input{ 
    width: 100%;
    border: none;
    color: $color-black;
    font-weight: bold;
    &::placeholder {
      color: $color-primary;
      font-weight: bold;
    }
  }
}