.link,
.link:active,
.link:visited{
  position: relative;
  cursor: pointer;
  font-size: $font-s-link;
  font-family: $font-family-primary;
  font-weight: 300;
  color: $color-primary;
  letter-spacing: 0.02rem;
  background: transparent;

  &:hover,
  &:focus {
    color: $color-black;
  }
}

.link-wrapper{
  display: block;

  &--right{
    margin-left: 53.5%;

    @include bp(max, $ipad-p) {
      margin-left: 0;
    }
  }
}

.link{
  &--black{
    color: $color-black;
    clear: both;
    display: block;

    &:hover,
    &:focus {
      color: $color-primary;

      .link__sign{
        color: $color-black;
      }
    }
    i{
      color: $color-primary;
      padding-left: rem-calc(15px);
      padding-right: 5px;
      font-size: $font-s-icon;
      float: left;
    }
  }

  &__sign{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 3px;
    color: $color-primary;
  }

  &-with-icon{
    display: block;
    padding-top: 10px;
    clear: both;
  }
}