.main-title{
  font-family: $font-family-secundary;
  font-size: $font-s-main;
  font-weight: 300;
  line-height: 3.4rem;
  &--bold{
    font-family: $font-family-primary;
    font-weight: 600;
  }

  .start__lead-wrapper &{
    margin-top: rem-calc(200px);

    @include bp(max, 1023px) {
      margin-top: 0;
    }
  }
  @include bp(max, $phone) {
    font-size: $font-s-main-s;
    line-height: 1.5;
  }

  &--mobile-large{
    @include bp(max, $phone) {
      font-size: $font-s-main;
      line-height: 3.4rem;
    }
  }

  &-text{
    margin-top: rem-calc(35px);
  }
}

.button-without-border+.main-title,
.anchor-small+.main-title,
.anchor+.main-title{
  margin-top: 0; 
}