.pagination{
  display: flex;
  justify-content: space-between;
  width: 220px;
  position: absolute;
  bottom: rem-calc(70px);
  left: 50%;
  transform: translateX(-50%);

  .table + &{
    top: 45px;
    @include bp(max, $ipad-p) {
      top: rem-calc(0px);
    }
  } 

  &__text{
    font-weight: bold;
    white-space: nowrap;
    text-align: right;
    padding: 0 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &__icon{
    fill: $color-primary;
    width: 13px;
    height: 23px;
  }

  &__button--next,
  &__button--prev{
    position: absolute;
    &:hover{
      cursor: pointer;
      .pagination__icon{
        fill: $color-black;
      }
    }
  } 
  &__button--next{
    right: 0;
  }
  &__button--prev{
    left: 0;
  }
  &__empty{
    width: 33%;
    height: 0;
    cursor: none;
  }
  @include bp(max, $ipad-p) {
    bottom: rem-calc(-20px);
  }
}