.table{
  @include grid-column(22, $grid-24);
  @include grid-push(1, $grid-24);
  float:none;

  &-wrapper{
    font-size: $font-s-table;
    margin: 0 -4.5% 1em -4.5%;

    @include bp(max, $screen-m) {
      font-size: $font-s-table-small;
    }
  }

  &-inner{
    background-color: $color-primary-06;
    display: flex;
    flex-direction: column;
    padding-top: rem-calc(50px);
    padding-bottom: rem-calc(50px);

    @include bp(max, $ipad-p) {
      display: block;
      background-color: transparent;
      padding-top: rem-calc(20px);
    }
  }

  &__tbody{
    @include bp(max, $ipad-p) {
      display: block;
    }
  }

  td{
    padding: 10px 10px 10px 0;
  }
  th{
    padding: 0 10px 40px 0;
    text-align: left;

    @include bp(max, $ipad-p) {
      display: none;
    }
  }

  tr{
    @include bp(max, $ipad-p){
      display:flex;
      margin-bottom: rem-calc(50px);
      flex-flow: row wrap;
    }

    &:last-child{
      margin-bottom: rem-calc(0px);
    }
  }

  &__start,
  &__details{
    @include bp(max, $ipad-p) {
      flex: 1 100%;
    }
  }

  &__date,
  &__pilot{
    @include bp(max, $ipad-p) {
      font-size:18px;
    }
  }

  &__start,
  &__duration,
  &__distance,
  &__details
  {
    @include bp(max, $ipad-p) {
      font-size:23px;
    }
  }

  &__duration,
  &__distance{
    @include bp(max, $ipad-p) {
      font-size:23px;
      font-family: $font-family-secundary;
    }
  }

  &__date,
  &__duration{
    &::after{
      @include bp(max, $ipad-p) {
        content:',';
      }
    }
  }

  &__header{
    color: $color-primary;
    cursor: pointer;
    z-index:10;
    transition: color .5s ease 0s;

    span{
      display:inline-block;
     // position: absolute;
      z-index:10;

      &::after {
        @extend .help-underline-yellow;
      }

      &:hover,
      &:focus,
      &.active{
        color: $color-black;
        transition: color .5s ease 0s;

        &::after {
          @extend .help-underline-yellow-hover;
        }
        }
      }

      .arrow-up,
      .arrow-down{
        visibility: hidden;
        color: $color-black;
        padding-left: 5px;

        &.visible{
          visibility: visible;
        }
      }
    }

  &__link{
    display:inherit;

    &:hover,
    &:active,
    &:focus {
      &::after {
        transform: scaleX(0);
      }
    }

    &:after {
      content: "";
      width: 100%;
      height: 3px;
      left: 0;
      background-color: $color-primary;
      display: block;
      margin-top: 3px;
      transform: scaleX(1);
      transition: $transition-underline-center;
    }

    @include bp(max, $ipad-p){
      display:inline-block;
    }
  }
}