.header{
  position: fixed;
  z-index: 100;
  width: 100vw;
  transition: top 1s ease;
  top: 0;
  background-color: $color-white;
  @include grid-container;

  &__menu{
    padding-bottom: rem-calc(40px);
    font-size: $font-s-logo;
    z-index:100;

    @include bp(max, $ipad-ls) {
      padding-top: rem-calc(20px);
      padding-bottom: rem-calc(40px);
    }
  }

  &__menu{
    @include grid-column(11, $grid-24);
    @include grid-shift(12, $grid-24);
    background-color: $color-white;
    padding-top: rem-calc(40px);
    padding-left: 4%;

    @include bp(max, $ipad-ls) {
      background-color: transparent;
    }
  }

  &.js-header--hide{
    top:-150px; 
  }
  &.js-header--positive{ 
    background-color: $color-white;

    .header__anchor{
      color: $color-black;
    }
  }

  .js-mobile-logo--visible{
    position:fixed;
    z-index: 10000;
    color: $color-black;

    .header__anchor{
      color: $color-black;
    }
  }

  @include bp(max, $ipad-ls){
    padding-bottom: 10px;
  }
}

