.logo{
  padding-bottom: rem-calc(40px);
    font-size: $font-s-logo;
    z-index:100;
    @include grid-shift(1, $grid-24);
    margin-top: -20px;
    padding-top: 0;
    z-index:200;
    color: $color-black;
    position: fixed;
    top: 27px;

    &__anchor{
      color: $color-black;

      &:hover{
        color: $color-black;

        @include bp(max, $ipad-ls) {
          color: $color-black;
        }
      }

      @include bp(max, $ipad-ls) {
        color: $color-black;
      }
    }

    @include bp(max, $ipad-ls) {
      color: $color-black;
      top: 20px;
      padding-top: 0;
      padding-bottom: rem-calc(40px);
    }
    @include bp(max, $ipad-p) {
      margin-top: -20px; 
      margin-left: 2%;
    }

    &__wrapper{
      width: 200px;
      @include bp(max, $phone) {
        width: 220px;
      }
    }
}
