.main-nav{

  &__wrapper{
    display: flex;
    justify-content: space-between;
    @include bp(max, $ipad-ls) {
      display:none;
    }

    &--single{
      justify-content: flex-end;
      @include bp(max, $ipad-ls) {
        display: flex;
      }
    }
  }

  &__link{
    margin-left: rem-calc(22px);

    a{
      font-size: $font-s-main-nav;
      @include bp(max, $screen-m) {
        font-size: $font-s-main-nav-small;
      }
    }
    &:first-child{
      margin-left:0;
    }
  }

  &__link-close-icon,
  &__link-back-icon{
    display: flex;
    span{
      width: 30px;
      height: 3px;
      margin-bottom: 6px;
      border-radius: 1000px;
      background: $color-primary;
      display: block;
      transform: rotate(-45deg);
      position: absolute;
      top: 10px;
    }
    span:first-child{
      transform: rotate(45deg);
      position: absolute;
      top: 10px;
    }
  }

  &__link-back-icon{
    span{
      width: 20px;
      top: 2px;
    }
    span:first-child{
      top: 15px;
    }
  }

  &__icon{
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    margin-top: -2px;
  }
  &__icon-text{
    margin-right: 30px;
  }

  &.js-mobile-nav--visible{
    display: block;
    background-color: $color-white;
    width:100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 200ms ease-in;
    .main-nav{
      &__wrapper{
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        height: 50%;
      }
      &__link{
        margin: 0;
        min-width: 100%;
        height: 25%;
        display: flex;
        justify-content: center;
        align-content: space-between;
        align-items: center;

        &:hover{
          background-color: $color-primary-10;
        }

        a{
          font-size: 20px;
        }

        &:first-child{
          margin: 0;
        }
      }
    }
  }
}